body {
  --pink: rgb(255, 167, 196);
  --darkPink: #d23669;
  --green: rgb(43, 131, 78);
  --darkGreen: rgb(34, 102, 61);
  background-color: var(--bg);
}

body.light {
  --bg: #ffffff;
  --header: var(--pink);
  --textNormal: #222;
  --textTitle: var(--darkGreen);
  --textLink: var(--darkGreen);
  position: relative;
  text-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  margin-bottom: 0.75rem;
  --hr: hsla(0, 0%, 0%, 0.2);
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
  --inlineCode-text: #1a1a1a;

  /* Added by AlfieQashwa */
  --darkColor: var(--darkGreen);
  --swapDarkColor: var(--darkPink);
  --normalColor: var(--green);
  --swapColor: var(--pink);
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #1e2227;
  --header: #ffffff;
  --textNormal: rgba(255, 255, 255, 0.88);
  /* --textTitle: #ffffff; */
  --textTitle: var(--darkPink);
  --textLink: var(--darkPink);
  position: relative;
  text-shadow: 0 12px 20px rgba(255, 255, 255, 0.1);
  margin-bottom: 0.75rem;
  --hr: hsla(0, 0%, 100%, 0.2);
  /* --inlineCode-bg: hsl(222, 14%, 25%); */
  --inlineCode-bg: rgba(201, 167, 255, 0.2);
  --inlineCode-text: #e6e6e6;

  /* Added by AlfieQashwa */
  --darkColor: var(--darkPink);
  --swapDarkColor: var(--darkGreen);
  --normalColor: var(--pink);
  --swapColor: var(--green);
}

/*
  RTL layout
*/
body:lang(fa) article {
  direction: rtl;
}

body:lang(fa) article pre,
body:lang(fa) article .translations,
body:lang(fa) .language-text {
  direction: ltr;
}

/* Fixing parentheses issue in text */
body:lang(fa) .language-text {
  display: inline-block;
}

body:lang(fa) blockquote {
  border-left: unset;
  border-right: 0.32813rem solid hsla(0, 0%, 0%, 0.9);
  padding-right: 1.42188rem;
  padding-left: unset;
  margin-left: 0.75rem;
  margin-right: -1.75rem;
}

/* styles for Persian language */
body:lang(fa) article,
body:lang(fa) h1 {
  font-family: 'Vazir';
}

/**
 * Based on copypasta from Remy Bach and Sarah Drasner
 */
/* Code blocks */
pre[class*='language-'] {
  overflow: auto;
  padding: 1.3125rem;
}

pre[class*='language-']::-moz-selection {
  /* Firefox */
  background: hsl(207, 4%, 16%);
}

pre[class*='language-']::selection {
  /* Safari */
  background: hsl(207, 4%, 16%);
}

Text Selection colour pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

Inline code :not(pre) > code[class*='language-'] {
  border-radius: 0.3em;
  /* background: var(--inlineCode-bg); */
  color: var(--inlineCode-text);
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
}

.token.attr-name {
  color: rgb(173, 219, 103);
  font-style: italic;
}

.token.comment {
  color: rgb(128, 147, 147);
}

.token.string,
.token.url {
  color: rgb(173, 219, 103);
}

.token.variable {
  color: rgb(214, 222, 235);
}

.token.number {
  color: rgb(247, 140, 108);
}

.token.builtin,
.token.char,
.token.constant,
.token.function {
  color: rgb(130, 170, 255);
}

.token.punctuation {
  color: rgb(199, 146, 234);
}

.token.selector,
.token.doctype {
  color: rgb(199, 146, 234);
  font-style: 'italic';
}

.token.class-name {
  color: rgb(255, 203, 139);
}

.token.tag,
.token.operator,
.token.keyword {
  color: #ffa7c4;
}

.token.boolean {
  color: rgb(255, 88, 116);
}

.token.property {
  color: rgb(128, 203, 196);
}

.token.namespace {
  color: rgb(178, 204, 214);
}

pre[class*='language-terminal'] {
  position: relative;
  padding: 1rem;
  padding-left: 1.5rem;
  /* font-family: Helvetica, Arial, sans-serif; BUGS */
  border: 1px solid #d8d9da;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  padding-top: 45px;
  margin: 2rem 0;
  font-size: 14px;
  background: white;
  color: #333;
}

pre[class*='language-terminal'] ::before {
  content: '\2022 \2022 \2022';
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  background: #e1e1e1;
  color: #c2c3c4;
  width: 100%;
  font-size: 2.5rem;
  margin: 0;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
  letter-spacing: -15px;
}

/* pre[class*='language-']::before {
  background: #ddd;
  border-radius: 0 0 4px 4px;
  color: hsla(270, 17.119554496%, 0%, 0.92);
  font-size: 0.75rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
  letter-spacing: 0.075em;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  position: absolute;
  right: 1.5rem;
  text-align: right;
  text-transform: uppercase;
  top: 0;
} */

/*
pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}

.gatsby-highlight-code-line {
  background-color: hsla(207, 95%, 15%, 1);
  display: block;
  margin-right: -1.3125rem;
  margin-left: -1.3125rem;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: rgb(43, 131, 78);
}

.gatsby-highlight {
  margin-bottom: 1.75rem;
  margin-left: -1.3125rem;
  margin-right: -1.3125rem;
  border-radius: 10px;
  background: #011627;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

@media (max-width: 672px) {
  .gatsby-highlight {
    border-radius: 0;
  }
}

.gatsby-highlight pre[class*='language-'] {
  float: left;
  min-width: 100%;
}
*/
